.hero-about {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://img.freepik.com/free-vector/team-work-meeting-flat-style_23-2147780667.jpg?t=st=1740655190~exp=1740658790~hmac=e4ec7f146479053683780757a919eb86679baf390bddfe6bbdaefa564f70d87d&w=1060');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
}

.hero-about-content h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.hero-about-content p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.hero-about-cta-button {
  padding: 0.8rem 2rem;
  background-color: #007bff;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.hero-about-cta-button:hover {
  background-color: #0056b3;
}
